<div class="row">
  <% (1..96).each do |i| %>
  <div class="col-lg-2 col-md-3 col-6">
    <div class="img-thumb">
      <a href="images/gallery/img-<%= i %>.jpeg" data-toggle="lightbox-c" data-gallery="example-gallery">
        <img src="images/gallery/imgthumb-<%= i %>.jpeg" class="img-fluid">
      </a>
    </div>
  </div>
  <% end %>
</div>
