<div class="row">
  <% (1..gallery_count).each do |i| %>
  <div class="col-lg-2 col-md-3 col-6">
    <div class="img-thumb">
      <a href="<%= image_path("#{gallery_path}/img-#{i}.jpeg") %>" data-toggle="lightbox-c" data-gallery="example-gallery">
        <img src="<%= image_path("#{gallery_path}/imgthmb-#{i}.jpeg") %>" class="img-fluid">
      </a>
      <svg class="magnify-icon" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <circle cx="10" cy="10" r="6.5" stroke="white" stroke-width="1.8"/>
        <path d="M14.5 14.5l4.5 4.5" stroke="white" stroke-width="1.8" stroke-linecap="round"/>
        <path d="M10 7.5v5M7.5 10h5" stroke="white" stroke-width="1.5" stroke-linecap="round"/>
      </svg>
    </div>
  </div>
  <% end %>
</div>
