<div class="row">
  <% (1..gallery_count).each do |i| %>
  <div class="col-lg-2 col-md-3 col-6">
    <div class="img-thumb">
      <a href="<%= image_path("#{gallery_path}/img-#{i}.jpeg") %>" data-toggle="lightbox-c" data-gallery="example-gallery">
        <img src="<%= image_path("#{gallery_path}/imgthmb-#{i}.jpeg") %>" class="img-fluid">
      </a>
    </div>
  </div>
  <% end %>
</div>
