<div class="row">
  <div class="col-md-2 col-sm-3 col-6">
    <div class="img-thumb">
      <a href="images/gallery/img-1.jpeg" data-toggle="lightbox-c" data-gallery="example-gallery">
        <img src="images/gallery/imgthumb-1.jpeg" class="img-fluid">
      </a>
    </div>
  </div>
  <div class="col-md-2 col-sm-3 col-6">
    <div class="img-thumb">
      <a href="images/gallery/img-2.jpeg" data-toggle="lightbox-c" data-gallery="example-gallery">
        <img src="images/gallery/imgthumb-2.jpeg" class="img-fluid">
      </a>
    </div>
  </div>
  <div class="col-md-2 col-sm-3 col-6">
    <div class="img-thumb">
      <a href="images/gallery/img-3.jpeg" data-toggle="lightbox-c" data-gallery="example-gallery">
        <img src="images/gallery/imgthumb-3.jpeg" class="img-fluid">
      </a>
    </div>
  </div>
  <div class="col-md-2 col-sm-3 col-6">
    <div class="img-thumb">
      <a href="images/gallery/img-4.jpeg" data-toggle="lightbox-c" data-gallery="example-gallery">
        <img src="images/gallery/imgthumb-4.jpeg" class="img-fluid">
      </a>
    </div>
  </div>
  <div class="col-md-2 col-sm-3 col-6">
    <div class="img-thumb">
      <a href="images/gallery/img-5.jpeg" data-toggle="lightbox-c" data-gallery="example-gallery">
        <img src="images/gallery/imgthumb-5.jpeg" class="img-fluid">
      </a>
    </div>
  </div>
  <div class="col-md-2 col-sm-3 col-6">
    <div class="img-thumb">
      <a href="images/gallery/img-6.jpeg" data-toggle="lightbox-c" data-gallery="example-gallery">
        <img src="images/gallery/imgthumb-6.jpeg" class="img-fluid">
      </a>
    </div>
  </div>
  <div class="col-md-2 col-sm-3 col-6">
    <div class="img-thumb">
      <a href="images/gallery/img-7.jpeg" data-toggle="lightbox-c" data-gallery="example-gallery">
        <img src="images/gallery/imgthumb-7.jpeg" class="img-fluid">
      </a>
    </div>
  </div>
  <div class="col-md-2 col-sm-3 col-6">
    <div class="img-thumb">
      <a href="images/gallery/img-8.jpeg" data-toggle="lightbox-c" data-gallery="example-gallery">
        <img src="images/gallery/imgthumb-8.jpeg" class="img-fluid">
      </a>
    </div>
  </div>
  <div class="col-md-2 col-sm-3 col-6">
    <div class="img-thumb">
      <a href="images/gallery/img-9.jpeg" data-toggle="lightbox-c" data-gallery="example-gallery">
        <img src="images/gallery/imgthumb-9.jpeg" class="img-fluid">
      </a>
    </div>
  </div>
  <div class="col-md-2 col-sm-3 col-6">
    <div class="img-thumb">
      <a href="images/gallery/img-10.jpeg" data-toggle="lightbox-c" data-gallery="example-gallery">
        <img src="images/gallery/imgthumb-10.jpeg" class="img-fluid">
      </a>
    </div>
  </div>
  <div class="col-md-2 col-sm-3 col-6">
    <div class="img-thumb">
      <a href="images/gallery/img-11.jpeg" data-toggle="lightbox-c" data-gallery="example-gallery">
        <img src="images/gallery/imgthumb-11.jpeg" class="img-fluid">
      </a>
    </div>
  </div>
  <div class="col-md-2 col-sm-3 col-6">
    <div class="img-thumb">
      <a href="images/gallery/img-12.jpeg" data-toggle="lightbox-c" data-gallery="example-gallery">
        <img src="images/gallery/imgthumb-12.jpeg" class="img-fluid">
      </a>
    </div>
  </div>
  <div class="col-md-2 col-sm-3 col-6">
    <div class="img-thumb">
      <a href="images/gallery/img-13.jpeg" data-toggle="lightbox-c" data-gallery="example-gallery">
        <img src="images/gallery/imgthumb-13.jpeg" class="img-fluid">
      </a>
    </div>
  </div>
  <div class="col-md-2 col-sm-3 col-6">
    <div class="img-thumb">
      <a href="images/gallery/img-14.jpeg" data-toggle="lightbox-c" data-gallery="example-gallery">
        <img src="images/gallery/imgthumb-14.jpeg" class="img-fluid">
      </a>
    </div>
  </div>
  <div class="col-md-2 col-sm-3 col-6">
    <div class="img-thumb">
      <a href="images/gallery/img-15.jpeg" data-toggle="lightbox-c" data-gallery="example-gallery">
        <img src="images/gallery/imgthumb-15.jpeg" class="img-fluid">
      </a>
    </div>
  </div>
  <div class="col-md-2 col-sm-3 col-6">
    <div class="img-thumb">
      <a href="images/gallery/img-16.jpeg" data-toggle="lightbox-c" data-gallery="example-gallery">
        <img src="images/gallery/imgthumb-16.jpeg" class="img-fluid">
      </a>
    </div>
  </div>
  <div class="col-md-2 col-sm-3 col-6">
    <div class="img-thumb">
      <a href="images/gallery/img-17.jpeg" data-toggle="lightbox-c" data-gallery="example-gallery">
        <img src="images/gallery/imgthumb-17.jpeg" class="img-fluid">
      </a>
    </div>
  </div>
  <div class="col-md-2 col-sm-3 col-6">
    <div class="img-thumb">
      <a href="images/gallery/img-18.jpeg" data-toggle="lightbox-c" data-gallery="example-gallery">
        <img src="images/gallery/imgthumb-18.jpeg" class="img-fluid">
      </a>
    </div>
  </div>
  <div class="col-md-2 col-sm-3 col-6">
    <div class="img-thumb">
      <a href="images/gallery/img-19.jpeg" data-toggle="lightbox-c" data-gallery="example-gallery">
        <img src="images/gallery/imgthumb-19.jpeg" class="img-fluid">
      </a>
    </div>
  </div>
  <div class="col-md-2 col-sm-3 col-6">
    <div class="img-thumb">
      <a href="images/gallery/img-20.jpeg" data-toggle="lightbox-c" data-gallery="example-gallery">
        <img src="images/gallery/imgthumb-20.jpeg" class="img-fluid">
      </a>
    </div>
  </div>
  <div class="col-md-2 col-sm-3 col-6">
    <div class="img-thumb">
      <a href="images/gallery/img-21.jpeg" data-toggle="lightbox-c" data-gallery="example-gallery">
        <img src="images/gallery/imgthumb-21.jpeg" class="img-fluid">
      </a>
    </div>
  </div>
  <div class="col-md-2 col-sm-3 col-6">
    <div class="img-thumb">
      <a href="images/gallery/img-22.jpeg" data-toggle="lightbox-c" data-gallery="example-gallery">
        <img src="images/gallery/imgthumb-22.jpeg" class="img-fluid">
      </a>
    </div>
  </div>
  <div class="col-md-2 col-sm-3 col-6">
    <div class="img-thumb">
      <a href="images/gallery/img-23.jpeg" data-toggle="lightbox-c" data-gallery="example-gallery">
        <img src="images/gallery/imgthumb-23.jpeg" class="img-fluid">
      </a>
    </div>
  </div>
  <div class="col-md-2 col-sm-3 col-6">
    <div class="img-thumb">
      <a href="images/gallery/img-24.jpeg" data-toggle="lightbox-c" data-gallery="example-gallery">
        <img src="images/gallery/imgthumb-24.jpeg" class="img-fluid">
      </a>
    </div>
  </div>
  <div class="col-md-2 col-sm-3 col-6">
    <div class="img-thumb">
      <a href="images/gallery/img-26.jpeg" data-toggle="lightbox-c" data-gallery="example-gallery">
        <img src="images/gallery/imgthumb-26.jpeg" class="img-fluid">
      </a>
    </div>
  </div>
  <div class="col-md-2 col-sm-3 col-6">
    <div class="img-thumb">
      <a href="images/gallery/img-27.jpeg" data-toggle="lightbox-c" data-gallery="example-gallery">
        <img src="images/gallery/imgthumb-27.jpeg" class="img-fluid">
      </a>
    </div>
  </div>
  <div class="col-md-2 col-sm-3 col-6">
    <div class="img-thumb">
      <a href="images/gallery/img-28.jpeg" data-toggle="lightbox-c" data-gallery="example-gallery">
        <img src="images/gallery/imgthumb-28.jpeg" class="img-fluid">
      </a>
    </div>
  </div>
  <div class="col-md-2 col-sm-3 col-6">
    <div class="img-thumb">
      <a href="images/gallery/img-29.jpeg" data-toggle="lightbox-c" data-gallery="example-gallery">
        <img src="images/gallery/imgthumb-29.jpeg" class="img-fluid">
      </a>
    </div>
  </div>
  <div class="col-md-2 col-sm-3 col-6">
    <div class="img-thumb">
      <a href="images/gallery/img-30.jpeg" data-toggle="lightbox-c" data-gallery="example-gallery">
        <img src="images/gallery/imgthumb-30.jpeg" class="img-fluid">
      </a>
    </div>
  </div>
  <div class="col-md-2 col-sm-3 col-6">
    <div class="img-thumb">
      <a href="images/gallery/img-31.jpeg" data-toggle="lightbox-c" data-gallery="example-gallery">
        <img src="images/gallery/imgthumb-31.jpeg" class="img-fluid">
      </a>
    </div>
  </div>
  <div class="col-md-2 col-sm-3 col-6">
    <div class="img-thumb">
      <a href="images/gallery/img-31.jpeg" data-toggle="lightbox-c" data-gallery="example-gallery">
        <img src="images/gallery/imgthumb-31.jpeg" class="img-fluid">
      </a>
    </div>
  </div>
  <div class="col-md-2 col-sm-3 col-6">
    <div class="img-thumb">
      <a href="images/gallery/img-33.jpeg" data-toggle="lightbox-c" data-gallery="example-gallery">
        <img src="images/gallery/imgthumb-33.jpeg" class="img-fluid">
      </a>
    </div>
  </div>
  <div class="col-md-2 col-sm-3 col-6">
    <div class="img-thumb">
      <a href="images/gallery/img-34.jpeg" data-toggle="lightbox-c" data-gallery="example-gallery">
        <img src="images/gallery/imgthumb-34.jpeg" class="img-fluid">
      </a>
    </div>
  </div>
  <div class="col-md-2 col-sm-3 col-6">
    <div class="img-thumb">
      <a href="images/gallery/img-35.jpeg" data-toggle="lightbox-c" data-gallery="example-gallery">
        <img src="images/gallery/imgthumb-35.jpeg" class="img-fluid">
      </a>
    </div>
  </div>
  <div class="col-md-2 col-sm-3 col-6">
    <div class="img-thumb">
      <a href="images/gallery/img-36.jpeg" data-toggle="lightbox-c" data-gallery="example-gallery">
        <img src="images/gallery/imgthumb-36.jpeg" class="img-fluid">
      </a>
    </div>
  </div>
  <div class="col-md-2 col-sm-3 col-6">
    <div class="img-thumb">
      <a href="images/gallery/img-37.jpeg" data-toggle="lightbox-c" data-gallery="example-gallery">
        <img src="images/gallery/imgthumb-37.jpeg" class="img-fluid">
      </a>
    </div>
  </div>
  <div class="col-md-2 col-sm-3 col-6">
    <div class="img-thumb">
      <a href="images/gallery/img-38.jpeg" data-toggle="lightbox-c" data-gallery="example-gallery">
        <img src="images/gallery/imgthumb-38.jpeg" class="img-fluid">
      </a>
    </div>
  </div>
  <div class="col-md-2 col-sm-3 col-6">
    <div class="img-thumb">
      <a href="images/gallery/img-39.jpeg" data-toggle="lightbox-c" data-gallery="example-gallery">
        <img src="images/gallery/imgthumb-39.jpeg" class="img-fluid">
      </a>
    </div>
  </div>
  <div class="col-md-2 col-sm-3 col-6">
    <div class="img-thumb">
      <a href="images/gallery/img-40.jpeg" data-toggle="lightbox-c" data-gallery="example-gallery">
        <img src="images/gallery/imgthumb-40.jpeg" class="img-fluid">
      </a>
    </div>
  </div>
  <div class="col-md-2 col-sm-3 col-6">
    <div class="img-thumb">
      <a href="images/gallery/img-41.jpeg" data-toggle="lightbox-c" data-gallery="example-gallery">
        <img src="images/gallery/imgthumb-41.jpeg" class="img-fluid">
      </a>
    </div>
  </div>
  <div class="col-md-2 col-sm-3 col-6">
    <div class="img-thumb">
      <a href="images/gallery/img-42.jpeg" data-toggle="lightbox-c" data-gallery="example-gallery">
        <img src="images/gallery/imgthumb-42.jpeg" class="img-fluid">
      </a>
    </div>
  </div>
  <div class="col-md-2 col-sm-3 col-6">
    <div class="img-thumb">
      <a href="images/gallery/img-43.jpeg" data-toggle="lightbox-c" data-gallery="example-gallery">
        <img src="images/gallery/imgthumb-43.jpeg" class="img-fluid">
      </a>
    </div>
  </div>
  <div class="col-md-2 col-sm-3 col-6">
    <div class="img-thumb">
      <a href="images/gallery/img-44.jpeg" data-toggle="lightbox-c" data-gallery="example-gallery">
        <img src="images/gallery/imgthumb-44.jpeg" class="img-fluid">
      </a>
    </div>
  </div>
  <div class="col-md-2 col-sm-3 col-6">
    <div class="img-thumb">
      <a href="images/gallery/img-45.jpeg" data-toggle="lightbox-c" data-gallery="example-gallery">
        <img src="images/gallery/imgthumb-45.jpeg" class="img-fluid">
      </a>
    </div>
  </div>
  <div class="col-md-2 col-sm-3 col-6">
    <div class="img-thumb">
      <a href="images/gallery/img-46.jpeg" data-toggle="lightbox-c" data-gallery="example-gallery">
        <img src="images/gallery/imgthumb-46.jpeg" class="img-fluid">
      </a>
    </div>
  </div>
  <div class="col-md-2 col-sm-3 col-6">
    <div class="img-thumb">
      <a href="images/gallery/img-47.jpeg" data-toggle="lightbox-c" data-gallery="example-gallery">
        <img src="images/gallery/imgthumb-47.jpeg" class="img-fluid">
      </a>
    </div>
  </div>
  <div class="col-md-2 col-sm-3 col-6">
    <div class="img-thumb">
      <a href="images/gallery/img-48.jpeg" data-toggle="lightbox-c" data-gallery="example-gallery">
        <img src="images/gallery/imgthumb-48.jpeg" class="img-fluid">
      </a>
    </div>
  </div>
  <div class="col-md-2 col-sm-3 col-6">
    <div class="img-thumb">
      <a href="images/gallery/img-49.jpeg" data-toggle="lightbox-c" data-gallery="example-gallery">
        <img src="images/gallery/imgthumb-49.jpeg" class="img-fluid">
      </a>
    </div>
  </div>
  <div class="col-md-2 col-sm-3 col-6">
    <div class="img-thumb">
      <a href="images/gallery/img-50.jpeg" data-toggle="lightbox-c" data-gallery="example-gallery">
        <img src="images/gallery/imgthumb-50.jpeg" class="img-fluid">
      </a>
    </div>
  </div>
  <div class="col-md-2 col-sm-3 col-6">
    <div class="img-thumb">
      <a href="images/gallery/img-51.jpeg" data-toggle="lightbox-c" data-gallery="example-gallery">
        <img src="images/gallery/imgthumb-51.jpeg" class="img-fluid">
      </a>
    </div>
  </div>
  <div class="col-md-2 col-sm-3 col-6">
    <div class="img-thumb">
      <a href="images/gallery/img-52.jpeg" data-toggle="lightbox-c" data-gallery="example-gallery">
        <img src="images/gallery/imgthumb-52.jpeg" class="img-fluid">
      </a>
    </div>
  </div>
  <div class="col-md-2 col-sm-3 col-6">
    <div class="img-thumb">
      <a href="images/gallery/img-53.jpeg" data-toggle="lightbox-c" data-gallery="example-gallery">
        <img src="images/gallery/imgthumb-53.jpeg" class="img-fluid">
      </a>
    </div>
  </div>
  <div class="col-md-2 col-sm-3 col-6">
    <div class="img-thumb">
      <a href="images/gallery/img-54.jpeg" data-toggle="lightbox-c" data-gallery="example-gallery">
        <img src="images/gallery/imgthumb-54.jpeg" class="img-fluid">
      </a>
    </div>
  </div>
  <div class="col-md-2 col-sm-3 col-6">
    <div class="img-thumb">
      <a href="images/gallery/img-55.jpeg" data-toggle="lightbox-c" data-gallery="example-gallery">
        <img src="images/gallery/imgthumb-55.jpeg" class="img-fluid">
      </a>
    </div>
  </div>
  <div class="col-md-2 col-sm-3 col-6">
    <div class="img-thumb">
      <a href="images/gallery/img-56.jpeg" data-toggle="lightbox-c" data-gallery="example-gallery">
        <img src="images/gallery/imgthumb-56.jpeg" class="img-fluid">
      </a>
    </div>
  </div>
  <div class="col-md-2 col-sm-3 col-6">
    <div class="img-thumb">
      <a href="images/gallery/img-57.jpeg" data-toggle="lightbox-c" data-gallery="example-gallery">
        <img src="images/gallery/imgthumb-57.jpeg" class="img-fluid">
      </a>
    </div>
  </div>
  <div class="col-md-2 col-sm-3 col-6">
    <div class="img-thumb">
      <a href="images/gallery/img-58.jpeg" data-toggle="lightbox-c" data-gallery="example-gallery">
        <img src="images/gallery/imgthumb-58.jpeg" class="img-fluid">
      </a>
    </div>
  </div>
  <div class="col-md-2 col-sm-3 col-6">
    <div class="img-thumb">
      <a href="images/gallery/img-59.jpeg" data-toggle="lightbox-c" data-gallery="example-gallery">
        <img src="images/gallery/imgthumb-59.jpeg" class="img-fluid">
      </a>
    </div>
  </div>
  <div class="col-md-2 col-sm-3 col-6">
    <div class="img-thumb">
      <a href="images/gallery/img-60.jpeg" data-toggle="lightbox-c" data-gallery="example-gallery">
        <img src="images/gallery/imgthumb-60.jpeg" class="img-fluid">
      </a>
    </div>
  </div>
  <div class="col-md-2 col-sm-3 col-6">
    <div class="img-thumb">
      <a href="images/gallery/img-61.jpeg" data-toggle="lightbox-c" data-gallery="example-gallery">
        <img src="images/gallery/imgthumb-61.jpeg" class="img-fluid">
      </a>
    </div>
  </div>
  <div class="col-md-2 col-sm-3 col-6">
    <div class="img-thumb">
      <a href="images/gallery/img-62.jpeg" data-toggle="lightbox-c" data-gallery="example-gallery">
        <img src="images/gallery/imgthumb-62.jpeg" class="img-fluid">
      </a>
    </div>
  </div>
  <div class="col-md-2 col-sm-3 col-6">
    <div class="img-thumb">
      <a href="images/gallery/img-63.jpeg" data-toggle="lightbox-c" data-gallery="example-gallery">
        <img src="images/gallery/imgthumb-63.jpeg" class="img-fluid">
      </a>
    </div>
  </div>
  <div class="col-md-2 col-sm-3 col-6">
    <div class="img-thumb">
      <a href="images/gallery/img-64.jpeg" data-toggle="lightbox-c" data-gallery="example-gallery">
        <img src="images/gallery/imgthumb-64.jpeg" class="img-fluid">
      </a>
    </div>
  </div>
  <div class="col-md-2 col-sm-3 col-6">
    <div class="img-thumb">
      <a href="images/gallery/img-65.jpeg" data-toggle="lightbox-c" data-gallery="example-gallery">
        <img src="images/gallery/imgthumb-65.jpeg" class="img-fluid">
      </a>
    </div>
  </div>
  <div class="col-md-2 col-sm-3 col-6">
    <div class="img-thumb">
      <a href="images/gallery/img-66.jpeg" data-toggle="lightbox-c" data-gallery="example-gallery">
        <img src="images/gallery/imgthumb-66.jpeg" class="img-fluid">
      </a>
    </div>
  </div>
  <div class="col-md-2 col-sm-3 col-6">
    <div class="img-thumb">
      <a href="images/gallery/img-67.jpeg" data-toggle="lightbox-c" data-gallery="example-gallery">
        <img src="images/gallery/imgthumb-67.jpeg" class="img-fluid">
      </a>
    </div>
  </div>
  <div class="col-md-2 col-sm-3 col-6">
    <div class="img-thumb">
      <a href="images/gallery/img-68.jpeg" data-toggle="lightbox-c" data-gallery="example-gallery">
        <img src="images/gallery/imgthumb-68.jpeg" class="img-fluid">
      </a>
    </div>
  </div>
  <div class="col-md-2 col-sm-3 col-6">
    <div class="img-thumb">
      <a href="images/gallery/img-69.jpeg" data-toggle="lightbox-c" data-gallery="example-gallery">
        <img src="images/gallery/imgthumb-69.jpeg" class="img-fluid">
      </a>
    </div>
  </div>
  <div class="col-md-2 col-sm-3 col-6">
    <div class="img-thumb">
      <a href="images/gallery/img-70.jpeg" data-toggle="lightbox-c" data-gallery="example-gallery">
        <img src="images/gallery/imgthumb-70.jpeg" class="img-fluid">
      </a>
    </div>
  </div>
  <div class="col-md-2 col-sm-3 col-6">
    <div class="img-thumb">
      <a href="images/gallery/img-71.jpeg" data-toggle="lightbox-c" data-gallery="example-gallery">
        <img src="images/gallery/imgthumb-71.jpeg" class="img-fluid">
      </a>
    </div>
  </div>
  <div class="col-md-2 col-sm-3 col-6">
    <div class="img-thumb">
      <a href="images/gallery/img-72.jpeg" data-toggle="lightbox-c" data-gallery="example-gallery">
        <img src="images/gallery/imgthumb-72.jpeg" class="img-fluid">
      </a>
    </div>
  </div>
  <div class="col-md-2 col-sm-3 col-6">
    <div class="img-thumb">
      <a href="images/gallery/img-73.jpeg" data-toggle="lightbox-c" data-gallery="example-gallery">
        <img src="images/gallery/imgthumb-73.jpeg" class="img-fluid">
      </a>
    </div>
  </div>
  <div class="col-md-2 col-sm-3 col-6">
    <div class="img-thumb">
      <a href="images/gallery/img-74.jpeg" data-toggle="lightbox-c" data-gallery="example-gallery">
        <img src="images/gallery/imgthumb-74.jpeg" class="img-fluid">
      </a>
    </div>
  </div>
  <div class="col-md-2 col-sm-3 col-6">
    <div class="img-thumb">
      <a href="images/gallery/img-75.jpeg" data-toggle="lightbox-c" data-gallery="example-gallery">
        <img src="images/gallery/imgthumb-75.jpeg" class="img-fluid">
      </a>
    </div>
  </div>
  <div class="col-md-2 col-sm-3 col-6">
    <div class="img-thumb">
      <a href="images/gallery/img-76.jpeg" data-toggle="lightbox-c" data-gallery="example-gallery">
        <img src="images/gallery/imgthumb-76.jpeg" class="img-fluid">
      </a>
    </div>
  </div>
  <div class="col-md-2 col-sm-3 col-6">
    <div class="img-thumb">
      <a href="images/gallery/img-77.jpeg" data-toggle="lightbox-c" data-gallery="example-gallery">
        <img src="images/gallery/imgthumb-77.jpeg" class="img-fluid">
      </a>
    </div>
  </div>
  <div class="col-md-2 col-sm-3 col-6">
    <div class="img-thumb">
      <a href="images/gallery/img-78.jpeg" data-toggle="lightbox-c" data-gallery="example-gallery">
        <img src="images/gallery/imgthumb-78.jpeg" class="img-fluid">
      </a>
    </div>
  </div>
  <div class="col-md-2 col-sm-3 col-6">
    <div class="img-thumb">
      <a href="images/gallery/img-79.jpeg" data-toggle="lightbox-c" data-gallery="example-gallery">
        <img src="images/gallery/imgthumb-79.jpeg" class="img-fluid">
      </a>
    </div>
  </div>
</div>
