---
title: For Sale 1955 Volkswagen Beetle
---

<header class="p-3 text-bg-dark mb-4">
  <div class="container">
    <div class="text-center">
      <h1>1955 Volkswagen Beetle Project <br>$23,000 USD OBO</h1>
    </div>
  </div>
</header>

<div class="container intro text-center">
  <div class="row">
    <div class="col-md">
      <div class="row">
        <div class="col-md-6">
          <a href="images/IMG_0863.jpeg" data-toggle="lightbox-c" data-gallery="example-gallery">
            <img src="images/IMG_0863.jpeg" class="img-fluid">
          </a>
        </div>
        <div class="col-md-6">
          <a href="images/IMG_0864.jpeg" data-toggle="lightbox-c" data-gallery="example-gallery">
            <img src="images/IMG_0864.jpeg" class="img-fluid">
          </a>
        </div>
        <div class="col-md-6">
          <a href="images/IMG_0865.jpeg" data-toggle="lightbox-c" data-gallery="example-gallery">
            <img src="images/IMG_0865.jpeg" class="img-fluid">
          </a>
        </div>
        <div class="col-md-6">
          <a href="images/IMG_0866.jpeg" data-toggle="lightbox-c" data-gallery="example-gallery">
            <img src="images/IMG_0866.jpeg" class="img-fluid">
          </a>
        </div>
      </div>
    </div>
    <div class="col text-start">
      <p>
        This was the car as I bought it. You can see that it had peanuts and large tailights that would have been added for safety at some point.
        It also came with accessory "Bumpers with overrider" (noted on the birth certificate). I chose to remove those given they were optional and interfere with the brake lights (lights end up in the center of the overrider).
      </p>

      <p>
        The holes for the large tailights and peanut turnsignals as well as any rust on the mounting flanges have been repaired on the fenders.
        The only body part that is not correct for the car is the hood. The hood is off of a later beetle but does fit well. It can be modified to make it a 4 tab as well as add the crest.
      </p>

      <p>
        I know I am in the minority of people who believes starting a restoration with a nice car is a must. It ends up costing more because you have to factor in the initial cost of the car.
        Even with the condition, I spend a fair amount of money to this point on metal work. I did not cheap out as some would. 
        It likely would cost close to the same amount in metal if you started with a rusty heap, but the finished product would not be as clean.
        That being said, this is an incredible deal because of the work that has already been done and the parts that are included. It is a complete car.
      </p>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md text-start">
      <ul>
        <li>Here you can see the birthdate of the car is 1/7/55 and exported on 1/10/55.</li>
        <li>It does not have a color specified, however there is enough evidence with original paint was L75 Light Beige.</li>
        <li>You will also notice the optional "Bumpers with overrider" noted.</li>
        <li>I have a clean California title in my name and the registration is currently non-opted</li>
        <li>The car was delivered through Competition Motors in Hollywood California</li>
        <li>M018 denotes that it was delivered with egg taillights</li>
      </ul>
    </div>
    <div class="col-sm">
      <a href="images/IMG_1305.jpeg" data-toggle="lightbox-c" data-gallery="example-gallery">
        <img src="images/IMG_1305.jpeg" class="img-fluid">
      </a>
    </div>
    <div class="col-sm">
      <a href="images/IMG_1306.jpeg" data-toggle="lightbox-c" data-gallery="example-gallery">
        <img src="images/IMG_1306.jpeg" class="img-fluid">
      </a>
    </div>
  </div>
  <hr>
  <%= partial "gallery" %>
  <hr>
  <div class="row">
    <div class="col">
      <iframe width="100%" height="500px" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vQIwWjliMeRpyQgKq5BBPWsIj5KaBa817RgnqLN4k0Aj2rbVXv4vgO0ZAax40C3Pf1tE_97Y4Vy-kjI/pubhtml?widget=true&amp;headers=false"></iframe>
      <p>
        View directly here: <a href="https://docs.google.com/spreadsheets/d/1khXfphFv0TviubRPDe_W8o2wJPWmuhnJ3Mq1XAOFQfI/edit?usp=sharing">Parts Inventory</a><br>
        As you can see, all the hard to find parts are included with the car. I have completed restoration on a handful of parts including the original hardware and vent wings. <br>
        The hardware is bagged and tagged for each part it belongs to.
      </p>
    </div>
  </div>
  <hr>
  <div class="row pt-3 pb-4">
    <div class="col">
      <h3>Some History</h3>
      <p>
        This car was found in Valencia California in Sept 2020 where it had been stored in a garage for many years.
        I made the choice, based on the condition of the paint as well as overall condition, to go down the road of a full restoration.
        As happens, I found another car that has my attention, therefore I am heading in a different direction which is leading me to put this car on the market.
        If you have restored cars, you know that I am taking a huge monetary hit. It is more important to me that this car gets to the right home vs trying to get top dollar.
      </p>

      <p>
        This is one of the cleanest, rust-free cars I have seen being an early ribbed door oval. That was what attracted me to it. It still needed some work. The rear apron was cut out for later exhaust and there was some damage where the rear took a hit (no creases).
        The right front had some damage from a side impact at the left front fender. The left front fender was replaced with a converted bullet fender. The bullet fender had factory primer under the light beige paint so was likley repaired early in its life.
        The dash had been cut for a dealer-installed Motometer gauge cluster, so the dash needed repair. There were also the typical dime-sized rust holes under the right front and right rear fenders where dirt/water collects.
        This needed to be repaired and I wanted to have it done right. I slotted in at Washburn’s Metal in Orange, CA and waited until there was space to take the car in. In the meantime, I dismantled the car and removed the body from the pan.
      </p>

      <p>
        I had Washburn’s Metal restore the pan. The pan halves were in good condition other than dents all over where someone had used a floor jack throughout its life.
        I opted to have the pan halves replaced vs repaired given the early pan halves are available through Gerson and it would have cost much more to correct the damage inflicted by the jack.
        No repairs were needed to the internals of the pan as everything had been nicely preserved from a leaking transmission nose cone. Even the choke cable came out effortlessly.
      </p>

      <p>
        I dropped the numbers matching front end off to George @ The Butcher Shop and had him restore it.
        He powdercoated the beam, trailing arms, backing plates, and drums.
        We had all the orginal hardware zinc-plated before assembling the beam with new bushings, german king and link pins.
        He did a fantastic job and looks better than factory.
      </p>

      <p>
        I acquired a later model split case transmission (1957) that had been rebuilt by Wright Gearbox.
        I then assembled the pan with all new brake lines, and german master, wheel cylinders and hoses.
        All brake hardware has been refurbished and replated. I then finished it off with powdercoated drums and new shoes.
      </p>

      <p>
        The car itself was dropped off at Washburn’s Metal and media blasted by Americoat. We then had it epoxy primed with SPI at a local body shop in Orange, CA to protect it from the elements.
        Brian and the team proceeded with repairs to the dash, rear apron, as well as a handful of small repairs including patching the small rust areas under the fenders.
        I ended up pulling the car once I decided to part with it. Brian has agreed to finish the last of the metalwork at the new owner's expense.
      </p>

      <p>
        The remaining metal work includes replacing the driver's side rear heater channel (patch panels from Virtanen, Wolfparts are included), small dent repairs on the fenders, and massage the inner apron on the driver's side.
        I am including a hood but it is off a later car so has a hump that should not be there. It will need to be modified to make it a 4-tab or find the correct hood.
      </p>

      <p>
        This project is in a really good place and needs someone to take over and move it forward.
        You can decide what you want to do with it. Install a ragtop, keep it original, put a big motor in it, or slam it on earlys.
        It’s a blank canvas with a really great starting point.
      </p>
      <p>
        As I stated earlier, this car has a slot to get in at Washburn's Metal to sort out the rest of the metal work (the cost involved is the responsibility of the new owner).
        This will allow you to take it to whatever level you want. If you have been involved in VW restoration, you know how hard it is to get a pre 55 beetle that isn't a mess.
        The price I am asking is far less than I have into it and is priced to give value to the new owner. My goal is to find a home for this car with someone who appriciates it.
        I will help get things to shipping for sales outside of the SoCal area. I am also open to deliver within a reasonable distance for an additional fee to cover fuel.
      </p>
      <p>
        Contact Larry @ lucidbleu.com or contact me through my ad on <a href="https://www.thesamba.com/vw/classifieds/detail.php?id=2600145">thesamba.com</a> to schedule a time to look over the car or discuss the car in further detail. 
        Include your name and number and I will get back to you <br>
        <span class="note"> If you feel the urge to email me and tell me my price is too high, please don't. Instead, start calling around to try and find a car in this condition for this price and what it would cost to get it to where this is today.</span>
      </p>
    </div>
  </div>
</div>

<footer class="p-3 text-bg-dark">
  <div class="container">
    <div class="text-center">
      <h1>1955 Volkswagen Beetle Project - $23,000 USD OBO</h1>
    </div>
  </div>
</footer>
